@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  background-color: #FDFBF7;
  /* Cream background from reference */
  color: #0F172A;
  /* Slate 900 */
}

body {
  margin: 0;
  min-height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

@layer utilities {
  .high-contrast {
    filter: contrast(1.5);
  }
}